.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid #ffff; */
  padding: 4rem;
}
.buttonDiv{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.buttonDiv>button{
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 225px;
    border: .8px solid rgb(255, 194, 0);
    box-shadow: 1px 1px 5px 5px rgb(255, 194, 0);
    background: transparent;
    color: white;
}
.buttonDiv>button:hover{
    box-shadow: 1px 1px 5px 5px white;
    background: rgba(255, 196, 0, 0.733);;
    color: black;
}
.subconatiner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* border: 1px solid #ffff; */
}
.subconatiner>h1{
    font-size: 2.5rem;
    color: rgb(255, 194, 0);
    font-style: oblique;
}
.innerContainer {
  /* border: 1px solid #ffff; */
 width: 70rem;
  display: flex;
  gap: .9rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 25px;
  box-shadow: 
  5px 1px 3px 3px rgb(255, 194, 0);
  /* 5px 3px 1.5px rgb(228, 223, 208); */
 
}
.innerContainer>span:nth-child(1){
    font-size: 2rem !important;
}